[defaults]
inventory = hosts.rb
remote_user = root
module_name = command
interpreter_python = auto_silent
bin_ansible_callbacks = True
stdout_callback = ansible.builtin.minimal
callback_whitelist = short
callback_plugins = ./callback_plugins
